USE [master]
GO
/****** Object:  Database [Minesweeper]    Script Date: 9/10/2019 2:09:33 PM ******/
CREATE DATABASE [Minesweeper]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Minesweeper', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Minesweeper.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Minesweeper_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Minesweeper_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Minesweeper].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Minesweeper]
GO
/****** Object:  Table [dbo].[Input_Mine]    Script Date: 9/10/2019 2:09:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Input_Mine](
	[Id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Input] [nvarchar](50) NULL,
 CONSTRAINT [PK_Input_Mine] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
